@keyframes ticking {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.messageContainer {
  width: 500px;
  height: 270px;
  padding: 16px;
  border-radius: 20px;
  background-color: lightgray;
  border-top: 4px solid var(--light);
}

.messages {
  overflow: auto;
  height: 200px;
  padding: 4px;
  font-size: 0.5rem;
  border-radius: 4px;
  color: var(--light);
  background-color: black;
}

.tick {
  animation: ticking 2s steps(2, jump-start) infinite;
}
