.container {
  min-height: 100vh;
  padding: 12px;
  background-image: url(../../assets/bg-light.png);
}

@media (prefers-color-scheme: dark) {
  .container {
    background-image: url(../../assets/bg-dark.png);
  }
}

.titleImg {
  display: block;
  margin: 0 auto 24px;
}

.content {
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px 0;
  text-align: center;
  font-size: 0.8rem;
  box-shadow: var(--shadow);
  background-color: var(--background);
}
