.pokemonContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 12px;
  list-style: none;
}

.pokemonContainer p {
  text-transform: capitalize;
}

@media (min-width: 1024px) {
  .pokemonContainer {
    grid-template-columns: repeat(5, auto);
  }
}
