.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 80px;
  font-family: var(--font-geist-sans);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 64px;
}

.link {
  padding: 24px;
  border-radius: 16px;
  border: 2px solid var(--accent);
  border-bottom-width: 10px;
}

@media (hover: hover) and (pointer: fine) {
  .link {
    border-bottom-width: 2px;
    transition: border 250ms;
  }

  .link:hover {
    border-bottom-width: 10px;
  }
}
